<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreTel</title>
    <!--Jinja2템플릿에서는 이렇게 설정하는 게 안전-->
    <link rel="stylesheet" href="{{url_for('static',path='css/index.css')}}">
</head>
<body>
    {% if request.session.get("user_id") %}
        <div class='mypage-btn' onclick="location.href='/mypage'">마이페이지</div>
        <a href="./logout">로그아웃</a>
        <a href="./unlink">회원탈퇴</a>
    {% else %}
        <a href="./login">로그인/회원가입</a>
    {% endif %}
</body>
</html>